extends layout

block content
  br
  .columns
    .column
      nav.level
        .level-left
          .level-item
            p.subtitle.is-5
              strong #{customers.length} 
              | Customers 
          .level-item
            .field.has-addons
              p.control
                input.input(placeholder="TODO: Search" type="text" disabled)
              p.control
                buttons(disabled).button Search
        .level-right
          p.level-item
            strong All
          p.level-item
            a(href="#") Champions
          p.level-item
            a(href="#") Verified
          p.level-item
            a(href="#") Starter
            
      table.table.is-fullwidth
        thead
          tr
            th First Name
            th Last Name
            th Type
            th Created
            th PWAL ID
            th MOLLIE ID
            th Actions
        tbody
          each customer in customers
            tr
              td= customer.firstName
              td= customer.lastName
              td= customer.customerType
              td= customer.createdAt.toDateString()
              td= customer.userId
              td= customer.customerId
              td 
                a.button.is-info.is-small(href=`/admin/${customer.id}`) view